/* styles.css */

/* Imposta il colore di sfondo principale e il colore del testo */
body {
    background-color: #1e1e1e; /* Nero */
    color: #E6E6FA; /* Lilla */
    font-family: 'Garamond', serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9370DB; /* Lilla */
    color: #FFFFFF; /* Bianco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    flex-direction: column;
}

.logo img {
    max-width: 150px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: #FFFFFF; /* Bianco */
    text-decoration: none;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000; /* Ombra */
}

.menu a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
}

.overlay {
    display: none;
}

/* Menu a tendina per dispositivi mobili */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }
}

/* Stili per il modulo */
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

#question-box {
    width: 100%;
    height: calc(100vh - 150px); /* Altezza dinamica */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #9370DB; /* Lilla */
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    background-color: #1e1e1e; /* Nero */
    color: #E6E6FA; /* Lilla */
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #9370DB; /* Lilla */
    color: #FFFFFF; /* Bianco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #BA55D3; /* Un altro tono di lilla */
}

.large-image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

.content {
    padding: 20px;
    text-align: center;
}
